
@keyframes fade-slide {
  0%, 100% { opacity: 0; transform: scale(1.1); }
  25%, 75% { opacity: 1; transform: scale(1); }
  0%, 100% { z-index: 1; }
  25%, 75% { z-index: 2; }
}

.animate-fade-slide {
  animation: fade-slide 20s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-float {
  animation: float linear infinite;
}
